@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
  background-color: #242424 !important;
}

#movie {
  display: inline-block;
  text-align: center;
  justify-content: center;
  /* margin: 0 auto; */
  width: 40vh;
  background-color: #5f4b8bff;
  padding-top: 10px;
  padding-right: 7px;
  padding-left: 7px;
  margin: 2vw;
  border-radius: 10px;

  font-family: "Anton", sans-serif;
  /* max-width: 20vw; */
  /* height: 1vh; */
}

#movie p {
  /* white-space: nowrap;
  word-wrap: break-word; */
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 19px;
  text-decoration: underline;
  color: coral;
}

#movie:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transform: scale(1.1);
  border: 3px solid coral;
}

#poster {
  width: 30vh;
  height: 40vh;
}

#prev {
  color: wheat;

  font-family: "Anton", sans-serif;
  margin-right: 30px;
  cursor: pointer;
}

#prev:hover {
  color: coral;
}

#next {
  color: wheat;
  font-family: "Anton", sans-serif;
  margin-left: 30px;
  cursor: pointer;
}

#next:hover {
  color: coral;
}

#search {
  margin-top: 3vh;
  background-color: wheat;
  padding: 15px;
  border-radius: 10px;
}

#searchInput {
  color: #5f4b8bff;
  border-radius: 5px;
  height: 35px;
}
#searchButton {
  height: 35px;
  width: 80px;
  margin-left: 15px;
  background-color: #5f4b8bff;
  color: wheat;
  border-radius: 5px;
  font-family: "Anton", sans-serif;
}

#searchButton:hover {
  background-color: coral;
  color: #242424;
}

#pagination {
  margin-bottom: 15px;
  margin-top: 15px;
}

#pagination select {
  height: 30px;

  font-family: "Anton", sans-serif;
  background-color: #5f4b8bff;
  color: wheat;
}

#details {
  background-color: #5f4b8bff;
  width: fit-content;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 25px;
  margin-top: 5vh;
  border-radius: 10px;
}

#details p {
  color: wheat;
  font-family: monospace;
}

#details span {
  color: lightcoral;
}

#detailPoster {
  /* margin-top: 10px; */
  height: 55vh;
  width: 40vh;
}

#movieHeading {
  color: wheat;
  margin-top: 10px;

  font-family: "Anton", sans-serif;
}

#create h1 {
  font-family: "Anton", sans-serif;
  margin-bottom: 30px;
}

#allReviews {
  margin-top: 25px;
}

#allReviews h1 {
  font-family: "Anton", sans-serif;
  color: wheat;
}

#allDetails {
  margin-top: 20px;
}

#create {
  margin-top: 50px;
  margin-bottom: 30px;
}

#create h1 {
  color: wheat;
}

#headings {
  color: coral;
}

#movieInfo {
  margin: 15px;
}

#mainBar a {
  color: wheat;
  font-size: 20px;
  text-decoration: none;
  margin: 5px;

  font-family: "Anton", sans-serif;
}

#mainBar a:hover {
  color: coral;
}

#mainLogo {
  margin-left: 5vh;
  margin-top: 0;
}

#barItems {
  margin-left: auto;
  padding-right: 60px;
  font-size: 15px;
}

#coll {
  text-align: center;
}

#mainBar h2 {
  font-size: 35px;
  margin-top: 10px;
  margin-left: 5vw;
  color: wheat;

  font-family: "Anton", sans-serif;
}

#logo-text {
  margin: 0 auto;
}

.logoBack {
  cursor: pointer;
}

#none {
  color: coral;
}

input[type="text"] {
  font-family: "Anton", sans-serif;
}

svg {
  fill: wheat;
}

svg:hover {
  fill: coral;
}

#subReview {
  background-color: coral;
  font-family: "Anton", sans-serif;
  color: wheat;

  justify-content: center;
}

#subReview:hover {
  background-color: wheat;
  color: #242424;
}

.form-group {
  color: wheat;
  font-family: "Anton", sans-serif;
}

#radio {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

#radio input {
  margin-left: 20px;
}

#rating {
  display: inline-block;
}

#reviewCard {
  font-family: "Anton", sans-serif;
  margin-bottom: 30px;
}

#not-found {
  text-align: center;
  justify-content: center;
  margin-top: 25vh;
  color: wheat;
  font-family: "Anton", sans-serif;
}

#none {
  font-family: "Anton", sans-serif;
}
